<% content_for :css do %><%= stylesheet_link_tag "home" %><% end %>

<div class="wrap"> <a href="/d/default/">
    <div class="fleft">
         <h1>Create New Dashboard</h1>

        </div></a>
 <a href="/about/">
    <div class="fright">
         <h1>About Us</h1>

        </div></a>

</div>