#stocks_modal > div > div > div.modal-body > div > div, #stocks_modal .portlet-content {
	margin: 0;
	padding: 0;
}

#stocks_modal .portlet-placeholder {
	border: 1px dotted black;
	margin: 0 1em 1em 0;
	height: 20px;
}

#stocks_modal .portlet-content {
	display: inline-block;
}

.s_edit {
	cursor: pointer;
}